<html>
<head>
  <title>Welcome to picture-gallery</title>
  <link href="{{context}}/css/screen.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    var context="{{context}}"
  </script>
  <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="{{context}}/js/albumColors.js" type="text/javascript"></script>
  <script src="{{context}}/js/site.js" type="text/javascript"></script>
</head>
<body>
  {% block menu %}
  <div id="username">
    <div class="menuitem">
      <a href="{{context}}/">home</a>
    </div>
    {% if user %}
    <div class="menuitem">
      <a href="{{context}}/upload">upload images</a>
    </div>

    <div class="menuitem">
      <a href="{{context}}/logout">logout {{user}}</a>
    </div>

    <div class="menuitem">
      <a href="{{context}}/delete-account">delete account</a>
    </div>
    {% else %}
    <div class="menuitem">
      <a href="{{context}}/register">register</a>
    </div>

    <div class="menuitem">
    <form action="{{context}}/login" method="post" accept-charset="utf-8">
      <input type="test" name="id" placeholder="screen name" id="id">
      <input type="password" name="pass" placeholder="password" id="pass">
      <p><input type="submit" value="Continue"></p>
    </form>
    </div>
    {% endif %}
  </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
</body>
</html>
