{% extends "picture_gallery/views/templates/base.html" %}
{% block content %}
<div class="gallery">
  <form action="{{context}}/confirm-delete" method="POST" accept-charset="utf-8">
    <input type="submit" value="delete account">
  </form>

  <form action="{{context}}/" method="GET" accept-charset="utf-8">
    <input type="submit" value="Cancel">
  </form>
</div>
{% endblock %}
