{% extends "picture_gallery/views/templates/base.html" %}
{% block content %}
<div class="gallery">
  <div id="error"></div>
  <script src="{{context}}/js/gallery.js" type="text/javascript"></script>
  <div>
    {% for pic in pictures %}
    <div class="thumbnail">
      <a class={{pic.name}} href="{{context}}/img/{{pic.userid}}/{{pic.name}}">
        <img src="{{context}}/img/{{pic.userid}}/{{thumb-prefix}}{{pic.name}}"/>
        {% ifequal user page-owner %}
        <input id="{{pic.name}}"
               name="{{pic.name}}"
               type="checkbox"
               value="true" />
        {% endifequal %}
      </a>
    </div>
    {% endfor %}
    {% ifequal user page-owner %}
    <input id="delete" type="submit" value="delete images" />
    {% endifequal %}
  </div>
</div>
{% endblock %}
