{% extends "picture_gallery/views/templates/base.html" %}
{% block menu %}
{% endblock %}
{% block content %}
<div class="content">
  <form action="{{context}}/register" method="POST" accept-charset="utf-8">
    <label for="user-id">user id</label> 
    <input type="text" name="id" value="{{id}}" id="id" tabindex="1">

    <div class="error">
      {{id-error}}
    </div>

    <label for="pass">password</label>
    <input type="password" name="pass" tabindex="2" id="pass">
    <br />

    <div class="error">
      {{pass-error}}
    </div>

    <label for="pass1">retype password</label>
    <input type="password" tabindex="3" name="pass1" value="" id="pass1">
    
    <input type="submit" value="create account" tabindex="4">
  </form>
</div>
{% endblock %}
