{% extends "picture_gallery/views/templates/base.html" %}
{% block content %}
<div class="gallery">
  <h2>Upload an image</h2>
  {% if error %}
  <p class="error">{{error}}</p>
  {% endif %}
  {% if image %}
  <img src="{{image}}" width="300" height="300" />
  {% endif %}
  <form action="{{context}}/upload" enctype="multipart/form-data"
                                    method="POST" accept-charset="utf-8">
    <input type="file" name="file" id="file">
    <p><input type="submit" value="Upload"></p>
  </form>
</div>
{% endblock %}
